<ion-header>
  <ion-toolbar color="success">
    <ion-title> Quizz </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="question">
  <ion-grid>
    <ion-row>
      <ion-label class="ion-padding">{{ question.question }}</ion-label>
      </ion-row>
    <ion-row>
      <ion-col size-lg="6" offset-lg="3" size-sm="12">

        <ion-list class="ion-padding">
          <ion-radio-group>
            <ion-item *ngFor="let option of options">
              <ion-radio slot="start" value="{{ option }}" label-placement="end">
                <ion-label>{{ option }}</ion-label>
              </ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-col>
      </ion-row>

    <ion-row>
      <ion-col class="ion-text-end" size-lg="6" offset-lg="3" size-sm="12">
        <ion-button expand="block" color="success">
          <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
          Next</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
